{% extends "layout.twig" %}

{% block title %}{{ 'page.draft.title' | trans }} {{ draft.privateKey | slice(0, 8) }}{% endblock %}

{% block content %}
<div class="draft">
    <button id="manager-button" type="button" class="btn btn-large btn-success pull-right">
        <span class="icon icon-white icon-bullhorn"></span> <span class="text">{{ 'page.doc.manager.button.on' | trans }}</span>
    </button>
    <h1>{{ draft.title|e }}</h1>
    {{ draft.body|raw }}
</div>

<!-- ini DomTal tpls -->
<div id="template" style="display:none">
    <div class="manager clearfix" style="display:none">
        <div class="btn-group pull-left">
            <button class="btn current-amendments" title="{{ 'page.doc.tooltips.current-amendments' | trans }}">
                <span class="icon-comment"></span> <span class="counter">${namendments}</span>
            </button>
            <button class="btn add-amendment" title="{{ 'page.doc.tooltips.add-amendment' | trans }}">
                <span class="icon-pencil"></span>
            </button>
        </div>
        <div class="btn-group pull-right">
            <button class="btn like" title="{{ 'page.doc.tooltips.like' | trans }}">
                <span class="icon-thumbs-up"></span> <span class="counter">${nlikes}</span>
            </button>
            <button class="btn dislike" title="{{ 'page.doc.tooltips.dislike' | trans }}">
                <span class="icon-thumbs-down"></span> <span class="counter">${ndislikes}</span>
            </button>
            <button class="btn doubt" title="{{ 'page.doc.tooltips.doubt' | trans }}">
                <span class="icon-question-sign"></span> <span class="counter">${ndoubts}</span>
            </button>
        </div>
    </div>
</div>
<div id="template-plus" style="display:none">
    <span class="btn-group manager" style="display:none">
        <button class="btn current-additions" title="{{ 'page.doc.tooltips.current-additions' | trans }}">
            <span class="icon-inbox"></span> <span class="counter">${nadditions}</span>
        </button>
        <button class="btn add-point" title="{{ 'page.doc.tooltips.add-point' | trans }}">
            <span class="icon-plus"></span>
        </button>
    </span>
</div>
<!-- end DomTal tpls -->

{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/js/vendor/DomTal.js"></script>
<script type="text/javascript">
    // Add amendments management
    var tpl = new DomTal();
    tpl.load('#template');
    $('p,ol,ul', '.draft').each(function(index, elem){
        tpl.set({
            namendments: 0,
            nlikes: 0,
            ndislikes: 0,
            ndoubts: 0
        });
        $(elem).after(tpl.run());
    });
    tpl.load('#template-plus');
    $(':header', '.draft').each(function(index, elem){
        tpl.set({
            nadditions: 0
        });
        $(elem).append(tpl.run());
    });
    // Add tooltips to template
    $('.manager button').tooltip();
    // Enable / disable amendments manager
    $('#manager-button').click(function(){
        var $button = $(this),
            enabled = $button.hasClass('btn-inverse');
        // Change button
        $button
            .removeClass(enabled ? 'btn-inverse' : 'btn-success')
            .addClass(enabled ? 'btn-success' : 'btn-inverse');
        $('.icon', $button)
            .removeClass(enabled ? 'icon-repeat' : 'icon-bullhorn')
            .addClass(enabled ? 'icon-bullhorn' : 'icon-repeat');
        $('.text', $button)
            .html(enabled ? '{{ 'page.doc.manager.button.on' | trans }}' : '{{ 'page.doc.manager.button.off' | trans }}');
        // Enable points interaction
        enabled ? $('.manager').hide() : $('.manager').show();
    });
</script>
{% endblock %}