{% extends "layout.twig" %}

{% block title %}
    {{ 'page.draft.title' | trans }} {{ draft.privateKey | slice(0, 8) }}
{% endblock %}

{% block content %}
<div class="draft">
    <div id="doc-buttons" class="pull-right">
        <button id="manager-button" type="button" class="btn btn-large btn-success">
            <span class="icon icon-white icon-bullhorn"></span> <span class="text">{{ 'page.doc.manager.button.on' | trans }}</span>
        </button>
        <button id="print-button" type="button" class="btn btn-large">
            <span class="icon icon-print"></span>
        </button>
    </div>
    <h1 id="root">{{ draft.title|e }}</h1>
    {{ draft.body|raw }}
</div>

<!-- ini DomTal tpls -->
<div id="template" style="display:none">
    <div class="manager clearfix">
        <div class="btn-group pull-right">
            <button class="btn current-amendments closed" title="{{ 'page.doc.tooltips.current-amendments' | trans }}">
                <span class="icon-comment"></span> <span class="counter">${namendments}</span>
            </button>
            <button class="btn add-amendment closed" title="{{ 'page.doc.tooltips.add-amendment' | trans }}">
                <span class="icon-pencil"></span>
            </button>
        </div>
    </div>
</div>
<div id="template-plus" style="display:none">
    <span class="manager btn-group" style="display:none">
        <button class="btn current-additions closed" title="{{ 'page.doc.tooltips.current-additions' | trans }}">
            <span class="icon-inbox"></span> <span class="counter">${nadditions}</span>
        </button>
        <button class="btn add-point closed" title="{{ 'page.doc.tooltips.add-point' | trans }}">
            <span class="icon-plus"></span>
        </button>
    </span>
</div>
<div id="template-alert" style="display:none">
    <div class="alert ${class}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        ${content}
    </div>
</div>
<div id="template-votes" style="display:none">
    <div class="amendment-votes btn-group pull-right">
        <button class="btn like" title="{{ 'page.doc.tooltips.like' | trans }}">
            <span class="icon-thumbs-up hide-text">+</span> <span class="counter">${nlikes}</span>
        </button>
        <button class="btn dislike" title="{{ 'page.doc.tooltips.dislike' | trans }}">
            <span class="icon-thumbs-down hide-text">-</span> <span class="counter">${ndislikes}</span>
        </button>
        <button class="btn doubt" title="{{ 'page.doc.tooltips.doubt' | trans }}">
            <span class="icon-question-sign hide-text">?</span> <span class="counter">${ndoubts}</span>
        </button>
    </div>
</div>
<!-- end DomTal tpls -->

{% endblock %}

{% block javascript %}
{% javascripts './resources/js/vendor/*.js' filter='?yui_js' output='/assets/js/*' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
{% endjavascripts %}
<script type="text/javascript">
    /**
     * Template engine
     */
    var tpl = new DomTal();
    /** 
     * Initialize REST client
     * Nested resources: /api/doc/{id}/amendment
     *                   /api/doc/{id}/amendment/{id}/vote
     */
    var client = new $.RestClient('/api/', {
        ajax: {
            contentType: 'application/json; charset=UTF-8'
        },
        cache: 0,
        stringifyData: true
    });
    client.add('doc');
    client.doc.add('amendment');
    client.doc.amendment.add('vote');
    // Initalize listener
    var $fake = $('<div>', {
        'id': 'fake'
    }).on('jqa-confirm', function(event, $form, data, successCb) {
        // Add CSRF token
        data._token = '{{ csrf_token }}';
        // Call API
        client.doc.amendment.create('{{ draft.publicKey }}', data).always(function(resp){
            // First argument data|jqXHR
            resp = resp.responseJSON ? resp.responseJSON : resp;
            // Error management
            $('.warning', $form).removeClass('warning');
            $('.alert-error', $form).remove();
            
            if (resp.errors && typeof resp.errors === 'object') {
                for (var name in resp.errors) {
                    $('*[name="' + name + '"]').after($('<div>', {
                        class: 'alert-error',
                        html: resp.errors[name]
                    })).parent().addClass('control-group warning');
                }
            } else {
                tpl.load('#template-alert');
                tpl.set({
                    class: resp.success ? 'alert-success' : 'alert-error',
                    content: resp.success 
                        ? '{{ 'messages.node.created' | trans }} :)' 
                        : resp.exception.message
                });
                var $msg = $('<div>').html(tpl.run());
                $form.after($msg);
                $msg.fadeOut(4800);
                // Call success callback
                if (resp.success) {
                    successCb({_id: resp._id});
                }
            }
        });
    }).on('jqa-rendered', function(event, elems){
        // Vote options
        var LIKE = {{ constant('App\\Entity\\Vote::OPTION_LIKE') }},
            DISLIKE = {{ constant('App\\Entity\\Vote::OPTION_DISLIKE') }},
            DOUBT = {{ constant('App\\Entity\\Vote::OPTION_DOUBT') }};        
        // After rendering amendments...
        for (var i in elems) {
            // Avoid scope issues!
            (function() {
                // Get original data
                var json = $(elems[i]).data('json');
                // Show date instead of timestamp
                $('.amendment-date', elems[i]).html(function(){
                    var timestamp = $(this).text(),
                        date = new Date(timestamp * 1000),
                        months = [
                            "{{ 'page.doc.months.jan' | trans }}",
                            "{{ 'page.doc.months.feb' | trans }}",
                            "{{ 'page.doc.months.mar' | trans }}",
                            "{{ 'page.doc.months.apr' | trans }}",
                            "{{ 'page.doc.months.may' | trans }}",
                            "{{ 'page.doc.months.jun' | trans }}",
                            "{{ 'page.doc.months.jul' | trans }}",
                            "{{ 'page.doc.months.aug' | trans }}",
                            "{{ 'page.doc.months.sep' | trans }}",
                            "{{ 'page.doc.months.oct' | trans }}",
                            "{{ 'page.doc.months.nov' | trans }}",
                            "{{ 'page.doc.months.dec' | trans }}"
                        ];
                    return date.getDate() + ' ' + months[date.getMonth()] + ' ' + date.getFullYear() 
                        + ' ' + (date.getHours() < 10 ? '0' + date.getHours() : date.getHours()) 
                        + ':' + (date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes());
                });
                // Show voting system instead of status
                $('.amendment-status', elems[i]).replaceWith(function(){
                    // Like buttons template
                    tpl.load('#template-votes');
                    tpl.set({
                        nlikes: json['votesCounter'] ? json['votesCounter'][LIKE] : 0,
                        ndislikes: json['votesCounter'] ? json['votesCounter'][DISLIKE] : 0,
                        ndoubts: json['votesCounter'] ? json['votesCounter'][DOUBT] : 0
                    });
                    return tpl.run();
                });
                // Manage voting system buttons
                var $buttonLike = $('.amendment-votes .like', elems[i]),
                    $buttonDislike = $('.amendment-votes .dislike', elems[i]),
                    $buttonDoubt = $('.amendment-votes .doubt', elems[i]);
                var voteCb = function(option){
                    // Prepare request
                    var data = {};
                    // Add CSRF token
                    data._token = '{{ csrf_token }}';
                    // Add vote option
                    data['option'] = option;
                    // Call API
                    client.doc.amendment.vote.create('{{ draft.publicKey }}', json['_id'], data).always(function(resp){
                        // First argument data|jqXHR
                        resp = resp.responseJSON ? resp.responseJSON : resp;
                        console.log(resp);
                        // Error management 
                        if (resp.errors && typeof resp.errors === 'object') {
                            alert("{{ 'messages.system.globalerror' | trans }}");
                        } else {
                            $buttonLike.trigger('inc', [option]).trigger('dec', [resp.lastVote]);
                            $buttonDislike.trigger('inc', [option]).trigger('dec', [resp.lastVote]);
                            $buttonDoubt.trigger('inc', [option]).trigger('dec', [resp.lastVote]);
                        }
                    });
                };
                var incCb = function(option, currentVote){
                    if (option === currentVote) {
                        var $counter = $('.counter', this);
                        $counter.html(parseInt($counter.text())+1);
                    }
                };
                var decCb = function(option, lastVote){
                    if (option === lastVote) {
                        var $counter = $('.counter', this);
                        $counter.html(parseInt($counter.text())-1);
                    }
                };
                $buttonLike
                    .click(function(){ voteCb(LIKE); })
                    .on('inc', function(e, vote){ incCb.call(this, LIKE, vote); })
                    .on('dec', function(e, vote){ decCb.call(this, LIKE, vote); });
                $buttonDislike
                    .click(function(){ voteCb(DISLIKE); })
                    .on('inc', function(e, vote){ incCb.call(this, DISLIKE, vote); })
                    .on('dec', function(e, vote){ decCb.call(this, DISLIKE, vote); });
                $buttonDoubt
                    .click(function(){ voteCb(DOUBT); })
                    .on('inc', function(e, vote){ incCb.call(this, DOUBT, vote); })
                    .on('dec', function(e, vote){ decCb.call(this, DOUBT, vote); });
            })();
        }
    }).hide();
    
    $('body').after($fake);
    
    /** 
     * Amendments UX management
     */    
    $(':header,p,ol,ul', '.draft').each(function(index, elem){        
        
        // Build custom container
        var $container = $('<div>', {
          'class': 'amendments-container'
        }).hide();
        
        $(elem).after($container);
        
        // Render manager (buttons)
        var showSelector,
            addSelector,
            parent;
            
        if ($(elem).is(':header')) {
            // Plus template
            tpl.load('#template-plus');
            tpl.set({
                nadditions: 0
            });
            // Preprocess structure
            var original = elem.innerHTML;
            $(elem)
                .empty()
                .append($('<span>', {
                    'class': 'jqa-text',
                    'html': original
                }))
                .append(tpl.run());
            // Custom buttons
            parent = elem;
            showSelector = '.current-additions';
            addSelector = '.add-point';
        } else {
            // Amend template
            tpl.load('#template');
            tpl.set({
                namendments: 0
            });
            $container.before(tpl.run());
            // Add separation for a better UX
            $container.after($('<hr>', {
                'class': 'manager'
            }));
            // Custom buttons
            parent = $(elem).next();
            showSelector = '.current-amendments';
            addSelector = '.add-amendment';
        }
        
        var $showLink = 
            $(showSelector, parent).click(function(event){
                $(this).toggleClass('opened').toggleClass('closed');
                $(elem).trigger('jqa-toggle');
                // Avoid follow            
                event.preventDefault();
                return false;
            }).on('jqa-counter', function(event, count){
                $('.counter', this).html(count);
            });
        
        var $addLink = 
            $(addSelector, parent).click(function(event){
                if ($(this).is('.closed')) {
                    $(this).toggleClass('opened').toggleClass('closed');
                    $(elem).trigger('jqa-new');
                }
                // Avoid follow            
                event.preventDefault();
                return false;
            }).on('jqa-success jqa-cancel', function(){
                $(this).toggleClass('opened').toggleClass('closed');
                $container.show();
            });
        
        // Activate amendments plugin
        $(elem).amend({
            attrname: 'id',
            container: $container,
            fields: {
                id: '_id',
                reference: 'tid',
                amendment: 'body',
                extra: 'addition',
                reason: 'reason',
                author: 'uid',
                status: 'status',
                date: 'created'
            },
            listeners: [
                $fake,
                $showLink,
                $addLink
            ],
            style: {
                'form':     'amend-form',
                'label':    'amend-label',
                'input':    'amend-input',
                'textarea': 'amend-textarea',
                'preview':  'uneditable-input',
                'button':   {
                  'standard': 'btn',
                  'cancel':   'btn-link',
                  'remove':   'btn-danger amend-delete'
                }
            },
            statuses: {
                '{{ constant('App\\Entity\\Amendment::STATUS_PENDING') }}': "{{ 'page.doc.jqa.status.pending' | trans }}",
                '{{ constant('App\\Entity\\Amendment::STATUS_APPROVED') }}': "{{ 'page.doc.jqa.status.approved' | trans }}",
                '{{ constant('App\\Entity\\Amendment::STATUS_REJECTED') }}': "{{ 'page.doc.jqa.status.rejected' | trans }}"
            },
            t: function(text) {        
                switch(text) {
                    case 'Send':
                        return "{{ 'page.doc.jqa.send' | trans }}";
                    case 'Cancel':
                        return "{{ 'page.doc.jqa.cancel' | trans }}";
                    case 'Delete text':
                        return "{{ 'page.doc.jqa.delete' | trans }}";
                    case 'Amendment':
                        return "{{ 'page.doc.jqa.amendment' | trans }}";
                    case 'Reason':
                        return "{{ 'page.doc.jqa.reason' | trans }}";
                    case 'Name':
                        return "{{ 'page.doc.jqa.name' | trans }}";
                    case 'Confirm':
                        return "{{ 'page.doc.jqa.confirm' | trans }}";
                    case 'sent by':
                        return "{{ 'page.doc.jqa.sentby' | trans }}";
                    case 'anonymous':
                        return "{{ 'page.doc.jqa.anonymous' | trans }}";
                    case 'Add new text inside':
                        return "{{ 'page.doc.jqa.add' | trans }}";
                    case 'on':
                        return "{{ 'page.doc.jqa.on' | trans }}";
                    default:
                        return text;
                }
            }
        }, {{ amendments | json_encode(constant('JSON_PRETTY_PRINT')) | raw }});
    });
    
    // Add tooltips to template
    $('.manager button').tooltip();
    
    // Enable / disable amendments manager
    $('.manager, .amendments-container').hide();
    
    $('#manager-button').click(function(){
        var $button = $(this),
            enabled = $button.hasClass('btn-inverse');
        // Change button
        $button
            .removeClass(enabled ? 'btn-inverse' : 'btn-success')
            .addClass(enabled ? 'btn-success' : 'btn-inverse');
        $('.icon', $button)
            .removeClass(enabled ? 'icon-repeat' : 'icon-bullhorn')
            .addClass(enabled ? 'icon-bullhorn' : 'icon-repeat');
        $('.text', $button)
            .html(enabled ? '{{ 'page.doc.manager.button.on' | trans }}' : '{{ 'page.doc.manager.button.off' | trans }}');
        // Enable points interaction
        enabled ? $('.manager, .amendments-container').hide() : $('.manager').show();
    });
    
    // Print document
    
    $('#print-button').click(function(){
        print();
    });
</script>
{% endblock %}