{% extends "layout.twig" %}

{% block title %}{{ 'page.draft.title' | trans }} {{ draft.privateKey | slice(0, 8) }} ({{ 'page.draft.admin' | trans }}){% endblock %}

{% block content %}
<div class="draft">
    <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ 'page.draft.tip' | trans }}
    </div>
    <form id="draft-form" action="/draft/{{draft.privateKey}}" method="post">
        <button id="share" type="button" class="btn btn-primary pull-right">
            <span class="icon icon-white icon-user"></span>
            <span class="icon icon-white icon-share-alt"></span> {{ 'page.draft.share.button' | trans }}
        </button>
        {{ form_widget(form) }}
        <div class="form-actions">
            <button type="submit" class="btn btn-large">{{ 'page.draft.save' | trans }}</button>
            <a class="btn btn-large btn-link" href="">{{ 'page.draft.cancel' | trans }}</a>
        </div>
    </form>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/resources/js/vendor/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="/resources/js/vendor/jquery.uniqid.js"></script>
<script type="text/javascript">
    // Rich text editor
    CKEDITOR.replace('form_body', { 
        customConfig: '/resources/js/ckeditor-config.js',
        extraAllowedContent: '*[id]'
    });
    // Add unique ids to DOM before save (required to amend text later)
    CKEDITOR.on("instanceReady", function() {
        $('#draft-form').submit(function(event) {
            var iframes = $('.cke_wysiwyg_frame').contents();
            $(':header, p, ul, ol', iframes[0]).uniqid();
            CKEDITOR.instances.form_body.updateElement();
        });
    });
    // Show/hide share link
    $('#share').popover({
         title: '{{ 'page.draft.share.title' | trans }}',
         content: 'http://{{host}}/doc/{{draft.publicKey}}',
         placement: 'left',
         trigger: 'click'
    });
</script>
{% endblock %}