{% extends "layout.twig" %}

{% block title %}{{ 'page.draft.title' | trans }}{% endblock %}

{% block content %}
<div class="draft">
    <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ 'page.draft.tip' | trans }}
    </div>
    <form action="/draft/{{draft.privateKey}}" method="post">
        <button id="share" type="button" class="btn btn-primary pull-right">
            <span class="icon icon-white icon-user"></span>
            <span class="icon icon-white icon-share-alt"></span> {{ 'page.draft.share.button' | trans }}
        </button>
        {{ form_widget(form) }}
        <div class="form-actions">
            <button type="submit" class="btn btn-large">{{ 'page.draft.save' | trans }}</button>
        </div>
    </form>
</div>
{% endblock %}

{% block javascript %}
<script src="/js/ckeditor/ckeditor.js"></script>
<script>
    // Rich text editor
    CKEDITOR.replace('form_body', { customConfig: '/js/ckeditor-config.js' });
    // Show/hide share link
    $('#share').popover({
         title: '{{ 'page.draft.share.title' | trans }}',
         content: 'http://{{host}}/doc/{{draft.publicKey}}',
         placement: 'left',
         trigger: 'click'
    });
</script>
{% endblock %}