{% extends "layout.twig" %}

{% block title %}{{ 'page.draft.title' | trans }}{% endblock %}

{% block content %}
<div class="draft">
    <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ 'page.draft.tip' | trans }}
    </div>
    <form action="/draft{% if draft %}/{{draft.privateKey}}{% endif %}" method="post">
        {{ form_widget(form) }}
        <div class="form-actions">
            <button type="submit" class="btn btn-large">{{ 'page.draft.form.button' | trans }}</button>
        </div>
    </form>
</div>
{% endblock %}

{% block javascript %}
<script src="/js/ckeditor/ckeditor.js"></script>
<script>
    CKEDITOR.replace('form_body', { customConfig: '/js/ckeditor-config.js' });
</script>
{% endblock %}