{% extends "layout.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="home">
    <h2>{{ 'page.home.subtitle' | trans }}</h2>
    <p class="lead">{{ 'page.home.body' | trans }}</p>
    <form action="/draft" method="post">
        {{ form_widget(form) }}
        <button class="btn btn-large btn-success">{{ 'page.home.button.part1' | trans }}<br/><small>{{ 'page.home.button.part2' | trans }}</small></button>
    </form>
</div>
{% endblock %}