<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} - AmendPad</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="/themes/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
        <!-- Custom style -->
        <link href="/css/style.css" rel="stylesheet" />
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div class="container-narrow">
            <div class="masthead">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        {{ locales[locale] }} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        {% for code, lang in locales %}
                            {% if code != locale %}
                            <li><a href="?lang={{ code }}">{{ lang|e }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <h1 class="muted">{% block pagetitle %}AmendPad{% endblock %}</h1>
            </div>
            <hr>
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
            <hr>
            <div id="footer">
                <ul class="nav nav-pills pull-left">
                    <li><a href="/">{{ 'page.home.title' | trans }}</a></li>
                    <li><a href="https://github.com/bonobo-coop/amendpad" target="_blank">{{ 'page.about.title' | trans }}</a></li>
                </ul>
                <div id="copyleft" class="pull-right">
                    (<span class="reverse" style="display: inline-block;">C</span>) Copyleft 2014 by <a target="_blank" href="http://bcommunity.es/">Bonobo Community</a>
                </div>
            </div>
        </div><!-- /container -->
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="/themes/bootstrap/js/bootstrap.min.js"></script>        
        {% block javascript %}
        {% endblock %}
    </body>
</html>